html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
}

.container .stu-list {
  width: 50%;
  border: 1px solid;
}

.container .stu-list table {
  border-collapse: collapse;
  width: 100%;
}

.container .stu-list table td, .container .stu-list table th {
  border: 1px solid;
}

.container .handle {
  border: 1px solid;
  width: 50%;
}

.container .handle form {
  padding-left: 20px;
  border: solid 1px;
}
